/* GENERAL */

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.text-center{
    text-align: center;
    color: white;
}

p{
    font-size: small;
}

.upgrade-section a{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    padding: .625rem 1.25rem;
    font-size: 0.7em;
    border-radius: 2.5rem;
}