@import url(reset.css);
@import url(general.css);


/* 
MAIN
*/

/* 
--------------------------------
ASIDE
--------------------------------
*/
.container-flex{
    display: flex;
    justify-content: space-between;
}

/* 
--------------------------------
CENTRAL MAIN
--------------------------------
*/
.central-main {
    width: 85%;
    background-color: #141922;
}

.central-main .upgrade-section{
    background-color: rgba(0,0,0,0.7);
    height: 3.75rem;
    position: sticky;
    top: 0;
}

.upgrade-section{
    position: relative;
    
}
.upgrade-section a{
    position: absolute;
    top: .625rem;
    right: .3125rem;
}
.central-main header nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.central-main header nav ul li{
    display: inline-block;
    list-style: none;
    padding: .625rem .625rem;
}

.central-main header nav ul li > a{
   text-decoration: none;
   color: white;
   text-transform: uppercase;
}

.music-container{
    display: flex;
    flex-wrap: wrap;
   
}

.music-box{
    width: calc(85% / 6);
    margin: .625rem .625rem;
}

.music-box img{
    width: 100%
}
.circle-box{
    padding-bottom: 100px;
}
.circle-box img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.title-section{
    margin: .625rem .625rem;
    padding-top: 20px;
    color: white;
}

.title-section >*{
    padding: 5px 0;
}

/* 
FOOTER
*/

footer{
    height: 4.375rem;
    position: sticky;
    bottom: 0;
    color: white;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-img{
    margin: .3125rem .625rem;
    width: 3.125rem;
    height: 3.125rem;
}

.footer-img img{
    width: 100%;
}

.footer-section > div{
    display: inline-block;
    vertical-align: middle;
}

.footer-left a{
    text-decoration: none;
    font-size: 0.5em;
    color: white; 
}

.footer-left h6,a{
   line-height: 0;
   padding-top: .625rem;
   padding-right: 2.5rem;
}

.footer-section span{
    padding-right: .625rem;
}

hr{
    margin-top: 20px;
 
}

.footer-central{
    padding-top: .3125rem;
}






/* 
DEBUG
*/
/* .debug main .upgrade-section{
    background-color: brown;
    height: 60px;
    position: sticky;
    top: 0;
} */

/* .debug .central-main{
    background-color: aquamarine;
} */
.debug aside{
    background-color: blueviolet;
    width: 15%;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
}

.debug footer{
    background-color: blue;
}

/* .debug .central-main header nav ul li > a{
    color: black;
 } */
/* 
.debug .music-box{
    background-color: coral;
    border: 2px solid black;
    height: 150px;
} */


















/* 
MEDIA QUERY da Desktop first
*/

/* Tablet */

@media screen and (max-width: 1100px){
    .music-box{
        width: calc(85% / 4);
    }
}


/* Mobile */
@media screen and (max-width: 700px){
    .music-box{
        width: calc(85% / 2);
    }
}

/* Mobile piccolo */
@media screen and (max-width: 600px){
    
}


